@using ydRSoft.Modelo
@model UsuarioModel

@{
    ViewBag.Title = "Smart Kitchen";

    UsuarioModel mUser = new UsuarioModel();
    if (Model != null)
    {
        mUser = Model;
    }

    string imgPerfil = "/Content/Imagenes/Avatar/" + mUser.Id + ".jpg";
}

<style>
    .ydR-titulo1f {
        font-family: 'Inter 24pt 24pt';
        font-size: 24px;
        background-color: rgb(64, 150, 84);
        color: black;
        padding: 10px;
        line-height: 1.2;
    }

    .ydR-subtitulo1f {
        font-family: 'Inter 18pt 18pt';
        font-size: 20px;
        color: white;
        background-color: rgb(49, 49, 49);
        padding: 10px;
    }
</style>

<div class="texto-Arriba-Der" id="vistaMenu" hidden>
    <div class="contenido-ydR">
        <div class="ydR-titulo1f">
            <strong> <i class="fa fa-shopping-cart"></i> PRODUCTOS  </strong>
        </div>
        <div class="ydR-subtitulo1f">
            <div id="vistaProd">
            </div>
        </div>
    </div>
</div>

<input id="nomydR" value="Bienvenido a SmartKitchen. @mUser.Nombres" hidden />
<input id="nomInydRc" value="@mUser.Nombres.ToUpper()" hidden/>
<input id="IdInydRc" value="@mUser.Id" hidden />
<div class="row">
    <div class="col-md-3">
        <div class="ydR-titulo1f" id="idLoad1" hidden>
            
        </div>
        <div id="viewReceta"> </div>
    </div>
    <div class="col-md-9">
        <canvas id="canvasCorona"></canvas>
    </div>
</div>

<div id="viewPaginas"></div>

<div class="modal inmodal fade" id="modalCamara" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <button class="btn btn-circle btn-danger float-right" data-dismiss="modal"><i class="fa fa-close"></i></button>

        <video id="video" autoplay style="object-fit: contain; width: 100%; height: auto;"></video>
        <canvas id="canvas" width="1280" height="720" style="display: none;"></canvas>
    </div>
</div>

@Html.Partial("_verComandos")

@Html.Partial("~/Areas/AReceta/Views/Receta/_verCategorias.cshtml")


<script>
    function vozBienvenida() {
        var txtletra = document.getElementById("nomydR").value
        hablarTexto(txtletra);
    }
</script>


<script id="_Ajustar_Camara_">
    navigator.mediaDevices.getUserMedia({
        video: {
            width: { ideal: 1280 },
            height: { ideal: 720 }
        }
    }).then(function (stream) {
        const video = document.getElementById('video');
        video.srcObject = stream;
        video.onloadedmetadata = function () {
            // Ajusta el tamaño del video según la resolución de la cámara
            video.play();
        };
    }).catch(function (err) {
        console.error("Error al acceder a la cámara: " + err);
    });
</script>

<script id="_Captura_de_camara">

    (function () {
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const startCaptureButton = document.getElementById('startCapture');
        let isCapturing = false;
        let isSending = false; // Bandera para controlar el envío de la imagen
        let captureInterval;

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(err => {
                alert("No se puede acceder a la cámara. Por favor, verifica que esté conectada.");
            });

        // Llamar a la función globalmente
        window.IniciarCaptura = IniciarCaptura;

        function IniciarCaptura() {
            if (!isCapturing) {
                isCapturing = true;

                startCaptureButton.classList.remove('btn-success');
                startCaptureButton.classList.add('btn-primary');
                // Iniciar la captura cada 2 segundos
                captureInterval = setInterval(() => {
                    if (!isSending) {
                        //captureAndSendImage();
                        EnviarImagen();
                    }
                }, 1500);
            } else {
                isCapturing = false;
                startCaptureButton.classList.remove('btn-primary');
                startCaptureButton.classList.add('btn-success');
                // Detener el intervalo de captura
                clearInterval(captureInterval);
            }
        }
        async function EnviarImagen() {
            // Configurar el canvas solo cuando la cámara esté disponible
            if (video.readyState === video.HAVE_ENOUGH_DATA) {
                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const imageData = canvas.toDataURL('image/png'); // Base64

                isSending = true; // Marcar como enviando

                // Medir el tiempo de inicio
                const startTime = performance.now();

                try {
                    // Enviar la imagen al servidor
                    //ConsultarApi
                    //Prueba
                    const response = await fetch('/AProducto/Producto/Prueba', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ image64: imageData })
                    });

                    if (!response.ok) {
                        throw new Error('Error en la respuesta del servidor');
                    }

                    const data = await response.json();
                    console.log('Imagen enviada con éxito:', data);

                    dibujarProd(data);
                    MostrarMenu(data);

                } catch (error) {
                    console.error('Error al enviar la imagen:', error);
                } finally {
                    isSending = false; // Liberar la bandera al terminar
                    const endTime = performance.now();
                    const elapsedTime = endTime - startTime;
                    let teject = (elapsedTime / 1000 - 1).toFixed(2);
                    document.getElementById('tiempoEjec').innerHTML = teject + "s";
                    console.log("Tiempo de ejecución: ms " + teject);
                }
            }
        }

    })();

</script>

<script id="_fun_Obtener_recetas">

    async function funRecetas() {        
        $("#viewPaginas").html("");
        setOcultar("idLoad1", false);
        document.getElementById("idLoad1").innerHTML = "<i class='fa fa-spinner'> Cargando Recetas ...</i>";
        document.getElementById("btnReceta").disabled = true;

        const response = await fetch('/AReceta/Receta/ObtenerRecetas', {
            method: 'POST',
        });

        if (response.ok) {
            const data = await response.text();
            $("#viewPaginas").html(data);
        } else {
            divResult.innerHTML = '<h3> Ninguna receta Disponible </h3>';
        }

        setOcultar("idLoad1", true);
        document.getElementById("btnReceta").disabled = false;
    }

</script>


<script id="_dibjar_circulo">
    function dibujarCirculo() {
        var canvas = document.getElementById('canvasCorona');
        if (canvas.getContext) {
            var ctx = canvas.getContext('2d');
            //ctx.clearRect(0, 0, canvas.width, canvas.height);  // Limpiar el canvas

            ctx.beginPath();
            ctx.strokeStyle = 'white';
            ctx.lineWidth = 5;  // Ancho del borde
            ctx.strokeRect(0, 75, 1420, 995);  //rectangulo

            ctx.beginPath();
            ctx.fillStyle = 'red';
            ctx.fillRect(0, 70, 60, 60);

            ctx.beginPath();
            ctx.fillStyle = 'red';
            ctx.fillRect(0, 70, 10, 995);

            ctx.beginPath();
            ctx.fillStyle = 'red';
            ctx.fillRect(0, 70, 1420, 10);
        }
    }

</script>

<script id="_Dibujar_Corona_">
    // Obtener el canvas y el contexto
    const canvas = document.getElementById('canvasCorona');
    const ctx = canvas.getContext('2d');
    const anchoCorona = 50;
    const Tipoletra = '"Inter 18pt 18pt"';
    const letraInfo = '"Inter 18pt 18pt"';
    const tamNombre = 30;
    const tamInfo = 20;
    const tamInfoN = 24;
    const tamInfoV = 32;
    const CantInfo = 4;
    // Ajustar el tamaño del canvas al tamaño de la ventana
    function ajustarCanvas() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        //dibujarMolecula(300,300);
    }

    async function dibujarProd(productos) {
        try {
            console.log("dibujar prod");
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            productos.forEach(producto => {
                mostrarProductos(producto); 
            });

        } catch (error) {
            console.error(error);
        }

    }

    function MostrarMenu(productos) {

        const vistaMenu = document.getElementById("vistaProd");
        vistaMenu.innerHTML = ""; // Limpiar contenido previo

        console.log("productos : " + productos);
        // Iterar sobre la lista de productos y mostrarlos
        productos.forEach((producto, index) => {
            vistaMenu.innerHTML += `<div> <i class="fa fa-check-circle texto-verd3"></i> ${'1 '} ${producto.Nombre}</div>`;
        });
    }

    function mostrarProductos(producto) {

        let nombre = producto.Nombre;
        let posX = producto.PosX;
        let posY = producto.PosY;
        let radio = producto.Radio;
        
        const listaValor = [];

        listaValor.push(producto.Calorias);
        listaValor.push(producto.Proteinas);
        listaValor.push(producto.Colesterol);
        listaValor.push(producto.Carbohidratos);
        listaValor.push(producto.Fibra);
        listaValor.push(producto.Azucares);
        listaValor.push(producto.Sodio);
        listaValor.push(producto.Calcio);
        listaValor.push(producto.Grasa);

        dibujarCorona(posX, posY, radio);
        dibujarTexto(posX, posY, radio);
        dibujarNombre(posX, posY, radio, nombre);
        dibujarLinea(posX, posY, radio, listaValor);
    }

    // Dibujar la corona
    function dibujarCorona(x, y, radioExterior) {
        const radioInterior = radioExterior - anchoCorona;
        console.log("Radio " + radioExterior);
        // Dibujar círculo exterior
        ctx.beginPath();
        ctx.arc(x, y, radioExterior, 0, Math.PI * 2, false);
        ctx.fillStyle = 'rgb(64, 150, 84)';
        ctx.fill();

        // Dibujar círculo interior (eliminar el centro)
        ctx.globalCompositeOperation = 'destination-out';
        ctx.beginPath();
        ctx.arc(x, y, radioInterior, 0, Math.PI * 2, false);
        ctx.fill();

        // Restaurar el modo de dibujo
        ctx.globalCompositeOperation = 'source-over';

    }


    function dibujarNombre(x, y, radioExterior, texto) {
        const radioInterior = radioExterior - anchoCorona;

        ctx.font = `${tamNombre}px ${Tipoletra}`;
        ctx.fillStyle = 'white';
        const anguloInicio = 0.8;       

        const radioTexto = radioInterior + 35;

        const factorSeparacion = 150;
        const factorRadial = 200;
        const index = texto.length - 1;

        let angulo = anguloInicio;
        for (let i = index; i >= 0; i--) {
            let anchoLetra = ctx.measureText(texto[i]).width;
            let nextAgulo = anchoLetra / factorSeparacion;


            angulo = angulo + nextAgulo * factorRadial / radioExterior;;


            const letraX = x + (radioTexto * Math.cos(angulo));
            const letraY = y + (radioTexto * Math.sin(angulo));

            ctx.save();
            ctx.translate(letraX, letraY);
            ctx.rotate(angulo + 4.65);
            ctx.fillText(texto[i], 0, 0);
            ctx.restore();

        }
    }

   
    function dibujarTexto(x, y, radioExterior) {
        const texto = "Tamaño de porción 100g";
        const radioInterior = radioExterior - anchoCorona;
        ctx.font = `${tamInfo}px ${Tipoletra}`;
        ctx.fillStyle = 'white';
        const anguloInicio = 5.2;

        const radioTexto = radioInterior + 20;

        const factorSeparacion = 150;
        const factorRadial = 200;

        const index = texto.length - 1;

        let angulo = anguloInicio;

        for (let i = index; i >= 0; i--) {            
            let anchoLetra = ctx.measureText(texto[i]).width;
            let nextAgulo = anchoLetra / factorSeparacion;
            
            angulo = angulo - nextAgulo * factorRadial / radioExterior;

            const letraX = x + (radioTexto * Math.cos(angulo));
            const letraY = y + (radioTexto * Math.sin(angulo));

            ctx.save();
            ctx.translate(letraX, letraY);
            ctx.rotate(angulo + Math.PI / 2); 
            ctx.fillText(texto[i], 0, 0);
            ctx.restore();
        }
    }

    function dibujarLinea(x, y, radius, listValor) {

        console.log("data -> " + listValor);
        const centerX = x;
        const centerY = y;
        const anguloInicio = 5.6;
        const radioBase = 40;
        const totalRayos = 4
        const radioTexto = radius + 20;

        const listaInfo = ["Calorias", "Proteinas", "Colesterol", "Carbohidratos", "Nutrientes"]

        const anguloPorRayo = (Math.PI * 2) / totalRayos * (radioBase / radius);

        let angulo = 0;

        for (let i = 0; i < CantInfo; i++) {
            ctx.fillStyle = 'yellow';

            const angle = anguloInicio + (anguloPorRayo * i);

            console.log("rayo :" + angle);
            const x1 = centerX + (radius - 10) * Math.cos(angle);
            const y1 = centerY + (radius - 10) * Math.sin(angle);
            
            const x2 = centerX + (radius + 20) * Math.cos(angle);
            const y2 = centerY + (radius + 20) * Math.sin(angle);

            ctx.beginPath();
            ctx.moveTo(x1, y1); 
            ctx.lineTo(x2, y2);
            ctx.lineWidth = 3;
            ctx.strokeStyle = 'yellow';
            ctx.stroke();

            //ctx.beginPath();
            ctx.arc(x1, y1, 4, 0, Math.PI * 2); 
            ctx.fill();

            //ctx.beginPath();
            ctx.arc(x2, y2, 3, 0, Math.PI * 2); 
            ctx.fill();

            const textoValor = listValor[i];
            const textoNombre = listaInfo[i];

            ctx.fillStyle = 'white';
            ctx.font = `bold ${tamInfoV}px ${letraInfo}`;
            ctx.fillText(textoValor, x2 + 10, y2);

            ctx.fillStyle = 'rgb(150,150,150)';
            ctx.font = `bold ${tamInfoN}px ${letraInfo}`;
            ctx.fillText(textoNombre, x2 + 10, y2 + 25);

            angulo = angle;
        }

        //const angulo = anguloInicio + (anguloPorRayo * CantInfo);
        
        const xn2 = centerX + (radius + 20) * Math.cos(angulo);
        const yn2 = centerY + (radius + 20) * Math.sin(angulo) + 70;

        ctx.fillStyle = 'white';
        ctx.font = `bold ${tamInfoN + 5}px ${letraInfo}`;
        ctx.fillText("Nutrientes", xn2 + 10, yn2);

        ctx.font = `bold ${tamInfoV}px ${letraInfo}`;
        ctx.fillText(listValor[CantInfo], xn2 + 10, yn2 + 40);
        ctx.fillText(listValor[CantInfo + 1], xn2 + 10, yn2 + 100);

        ctx.fillStyle = 'rgb(150, 150, 150)';
        ctx.font = `bold ${tamInfoN}px ${letraInfo}`;
        ctx.fillText("Azucar", xn2 + 10, yn2 + 60);
        ctx.fillText("Grasa", xn2 + 10, yn2 + 120);

        dibujarMolecula(xn2 -40, yn2);

        @*const img = new Image();
        img.src = '@Url.Content("~/Content/Imagenes/molecula.png")';

        img.onload = function () {
            ctx.drawImage(img, xn2 - 45, yn2 + 20, 40, 70);
        }*@
        
    }

    window.addEventListener('load', ajustarCanvas);
    window.addEventListener('resize', ajustarCanvas);
</script>


<script id="_dibujar_molecula">
    function dibujarMolecula(xn2, yn2) {
        const radio = 7;
        const grosor = 5;
        ctx.fillStyle = 'rgb(64, 150, 84)';
       

        ctx.beginPath();
        ctx.arc(xn2, yn2 + 45, radio+1, 0, Math.PI * 2); // 1
        ctx.fill();

        ctx.beginPath();
        ctx.arc(xn2 - 5, yn2 + 70, radio+2, 0, Math.PI * 2); // 2
        ctx.fill();

        ctx.beginPath();
        ctx.arc(xn2-15, yn2 + 100, radio, 0, Math.PI * 2); //3
        ctx.fill();


        ctx.beginPath();
        ctx.arc(xn2 + 30, yn2 + 15, radio + 1, 0, Math.PI * 2); // 4
        ctx.fill();

        ctx.beginPath();
        ctx.arc(xn2 + 30, yn2 + 45, radio + 1, 0, Math.PI * 2); // 5
        ctx.fill();

        ctx.beginPath();
        ctx.arc(xn2 + 25, yn2 + 70, radio+1, 0, Math.PI * 2); // 6
        ctx.fill();


        ctx.strokeStyle = 'rgb(64, 150, 84)';
        ctx.lineWidth = grosor;
        ctx.beginPath();

        ctx.moveTo(xn2, yn2 + 45); 
        ctx.lineTo(xn2-5, yn2 + 70);

        ctx.moveTo(xn2-5, yn2 + 70);
        ctx.lineTo(xn2 - 15, yn2 + 100);        

        ctx.moveTo(xn2 + 30, yn2 + 15);
        ctx.lineTo(xn2 + 30, yn2 + 45);

        ctx.moveTo(xn2 + 30, yn2 + 45); 
        ctx.lineTo(xn2 + 25, yn2 + 70);
       
        ctx.moveTo(xn2, yn2 + 45); 
        ctx.lineTo(xn2 + 30, yn2 + 45);

        ctx.moveTo(xn2 - 5, yn2 + 70); 
        ctx.lineTo(xn2 + 25, yn2 + 70);


        ctx.stroke();
    }
    
</script>


