@using ydRSoft.Modelo
@model ProductoModel

@{
    ProductoModel mprod = Model != null ? Model : new ProductoModel();
}


@if (mprod != null && mprod.Id != 0)
{

    <h3> @mprod.Nombre.ToUpper()</h3>
    <hr />
    <div>
        <input id="nomProd78" value="@mprod.Nombre"/>
    </div>
    <div class="form-group row">
        <label class="col-md-3 text-right"> Calorias :</label>
        <span class="col-md-9 text-navy"> @mprod.Calorias</span>
    </div>
    <div class="form-group row">
        <label class="col-md-3 text-right"> Proteinas :</label>
        <span class="col-md-9 text-navy"> @mprod.Proteinas</span>
    </div>
    <div class="form-group row">
        <label class="col-md-3 text-right"> Colesterol :</label>
        <span class="col-md-9 text-navy"> @mprod.Colesterol</span>
    </div>
    <div class="form-group row">
        <label class="col-md-3 text-right"> Carbohidratos :</label>
        <span class="col-md-9 text-navy"> @mprod.Carbohidratos</span>
    </div>

    <h3> Nutrientes</h3>

    <div class="form-group row">
        <label class="col-md-3 text-right"> Azucares :</label>
        <span class="col-md-9 text-navy"> @mprod.Azucares</span>
    </div>

    <div class="form-group row">
        <label class="col-md-3 text-right"> Sodio :</label>
        <span class="col-md-9 text-navy"> @mprod.Sodio</span>
    </div>
    <hr />
    <div class="form-group row">
       <button class="btn btn-success" onclick="funGuardar1nfo()" id="btnSave1nfo"> Guardar <i class='fa fa-save'></i> </button>
    </div>

}
else
{
    <h3> No se encontro ningun Producto</h3>
}


<script>
    async function funGuardar1nfo() {

        document.getElementById("btnSave1nfo").innerHTML = "<i class='fa fa-spinner'> Cargando...</i>";
        document.getElementById("btnSave1nfo").disabled = true;
        console.log("guadra info");

        var dataString = new FormData();
        dataString.append("Nombre", document.getElementById('nomProd78').value);
        dataString.append("Calorias", '@mprod.Calorias');
        dataString.append("Proteinas", '@mprod.Proteinas');
        dataString.append("Colesterol", '@mprod.Colesterol');
        dataString.append("Fibra", '@mprod.Fibra');
        dataString.append("Carbohidratos", '@mprod.Carbohidratos');
        dataString.append("Azucares", '@mprod.Azucares');
        dataString.append("Sodio", '@mprod.Sodio');
        dataString.append("Calcio", '@mprod.Calcio');
        dataString.append("Grasa", '@mprod.Grasa');
        console.log("waaa");

        const response = await fetch('/AProducto/Producto/GuardarInfoN', {
            method: 'POST',
            body: dataString
        });

        if (response.ok) {
            const data = await response.json();
            if (data.Error) {
                console.log(data.Mensaje);
            } else {
                funVistaProductos();
            }
        } else {
            console.log('Error en la respuesta: ' + response.status, response.statusText);
        }

        document.getElementById("btnSave1nfo").innerHTML = " Guardar <i class='fa fa-save'></i>";
        document.getElementById("btnSave1nfo").disabled = false;
    }
</script>