@using ydRSoft.Modelo
@model UsuarioModel

@{
    UsuarioModel objUser = Model == null ? new UsuarioModel() : Model;
}

@if (Model != null)
{
    <div class="content">

        <div class="row">
            <div class="col-md-4">
                <hr />
                <h3 class="text-center"> <small> Editar Usuario </small> &nbsp; &nbsp; <strong>@objUser.Nombres</strong></h3>
                <hr />
                <input id="editId" class="form-control text-navy" value="@objUser.Id" hidden />

                <div class="form-group row">
                    <label class="col-md-3 text-right">DNI:</label>
                    <div class="col-md-9">
                        <input id="mDni" class="form-control text-navy" autocomplete="off" placeholder="DNI" value="@objUser.Dni" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 text-right">Correo:</label>
                    <div class="col-md-9">
                        <input id="mCorreo" class="form-control text-navy" autocomplete="off" placeholder="Correo" value="@objUser.Correo" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 text-right">Contraseña:</label>
                    <div class="col-md-9">
                        <input type="password" id="mClave" class="form-control text-navy" autocomplete="off" placeholder="Contraseña" value="@objUser.Clave" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 text-right">Cargo:</label>
                    <div class="col-md-9">
                        <select id="mCargo" class="form-control">
                            <option value="0">INVITADO</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 text-right">Sexo:</label>
                    <div class="col-md-9">
                        <select id="mSexo" class="form-control">
                            <option value="1">HOMBRE</option>
                            <option value="2">MUJER</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-block btn-success" onclick="funEditar()"> GUARDAR <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h3> Actualize pagina</h3>
    <hr />
}

<script>

    console.log("sexo -> " + "@objUser.IdSexo");
    console.log("cargo -> " + "@objUser.IdCargo");
    document.getElementById('mSexo').value = "@objUser.IdSexo";
    document.getElementById('mCargo').value = "@objUser.IdCargo";


</script>

<script>
    async function funEditar() {
        console.log("entro edit usuario");
        

        var dataString = new FormData();
        dataString.append("Id", document.getElementById('editId').value);
        dataString.append("Clave", document.getElementById('mClave').value);
        dataString.append("Correo", document.getElementById('mCorreo').value);
        dataString.append("Dni", document.getElementById('mDni').value);
        dataString.append("IdSexo", document.getElementById('mSexo').value);
        dataString.append("IdCargo", document.getElementById('mCargo').value);

        const response = await fetch('/AUsuario/Usuario/EditarUsuario', {
            method: 'POST',
            body: dataString,
        });

        if (response.ok) {
            const data = await response.json();
            console.log(data.Mensaje);
        } else {
            alert('Error en la respuesta: ' + response.status, response.statusText);
        }

    }
</script>



