@using ydRSoft.Modelo
@model RecetaModel

@{
    var receta = new RecetaModel();
    List<int> listaId = new List<int>();
    string vozNombre = "Ninguna Receta Disponible";
    if (Model != null)
    {
        receta = Model;
        if (receta.Id > 0)
        {

            if (receta.ListaId.Count > 0)
            {
                listaId = receta.ListaId;
            }

            vozNombre = "Categoria Tipo. " + receta.Categoria +". "+ receta.Nombre + ". Nivel de dificultad. " + receta.NivelDificultad;
        }

    }
    int npaso = 1;

    string vozIngredientes = "LISTA DE INGREDIENTES.";

    string vozPasos = "TIEMPO DE PREPARACION " + receta.Tiempo + "minutos. INICIAMOS. ";

}

<style>
    .titulo-recet1a {
        background-color: rgb(149,244,178);
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
        box-sizing: border-box;
        padding: 10px 0 5px 0;
        font-size: 30px;
        font-family: 'Segoe UI';
        line-height:1;
    }

    .recetaSug1a {
        width: 460px;
        background-color: rgb(149,244,178);
        position: fixed;
        bottom: 0px;
        left: 10px;
        padding: 10px;
        border-radius: 5px;
        z-index: 9999;
        font-size: 24px;
        font-family: "Franklin Gothic Medium";
        line-height: 1;
    }

    .ydR-ingredientes{
        font-family:Arial;
        font-size:20px;
        line-height:1.32;
    }


</style>

<input id="idNombre1a" value="@vozNombre" hidden />
<input id="idReceta1a" value="@receta.Id" hidden />
@if (receta.Id > 0)
{

    <div class="contenido-ydR">
        <div class="titulo-recet1a">
            <strong class="text-center" id="nomReceta1">@receta.Nombre</strong>
        </div>
        <div class="parte-inferior">
            <div class="color-dorado">
                <strong> <i class="fa fa-microphone"></i> INGREDIENTES</strong><i class="text-VerdeF">(@receta.Categoria)  &nbsp; Nivel: @receta.NivelDificultad </i>
            </div>
            <div class="ydR-ingredientes">
                @foreach (var item in receta.Ingredientes)
                {
                    vozIngredientes = vozIngredientes + " " + item + ".";

                    <i class="fa fa-check-square-o texto-icon-VerdeF"> &nbsp;</i> @item <br />
                }


            </div>
            <div class="color-dorado">
                <strong> <i class="fa fa-microphone"></i> PREPARACION  &nbsp;&nbsp;<i class="fa fa-clock-o text-VerdeF">  @receta.Tiempo min.</i></strong>
            </div>
            <div>
                @foreach (var item in receta.PasosPreparacion)
                {
                    vozPasos = vozPasos + " Paso " + npaso + ": " + item + ". ";

                    <div class="ydR-ingredientes">
                        <span class="label">P@(npaso++):</span>
                        <span class="contenido01">@item</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <input id="idIngred1a" value="@vozIngredientes" hidden />
    <input id="idPasos1a" value="@vozPasos" hidden />
    
    <div class="recetaSug1a">
        <span style="font-size:18px">Receta Sugerida <i class="fa fa-hand-o-right"></i></span>
        <div style="font-size:24px">@receta.Nombre <small>(Nivel-@receta.NivelDificultad)</small></div>
    </div>
}
else
{

    <div class="recetaSug1a">
        <span style="font-size:18px">Ninguna Receta Disponible &nbsp; <i class="fa fa-bug"></i></span>
    </div>
}

<script>

    //hablarNombre();
    
    function hablarNombre() {
        var txtletra = document.getElementById("idNombre1a").value
        hablarTexto(txtletra);
    }

    function hablarIngredientes() {
        var txtletra = document.getElementById("idIngred1a").value
        hablarTexto(txtletra);
    }

    function hablarPasos() {
        var txtletra = document.getElementById("idPasos1a").value
        hablarTexto(txtletra);
    }

    function funAddFavorito() {
        console.log("ingreso add favoritos x2");
        let iduser = document.getElementById("IdInydRc").value;
        if (iduser > 1) {
            let id = document.getElementById("idReceta1a").value

            if (id > 0) {
                AgregarFavoritos(iduser, id);
            } else {
                console.log("no hay receta");
            }
            

        } else {
            console.log("No puede agregar");
            hablarTexto("Tiene que iniciar sesion para agregar favoritos");
        }
        
    }

    async function AgregarFavoritos(idu,idr) {
        var dataString = new FormData();

        dataString.append("IdUser", idu);
        dataString.append("IdRe", idr);

        document.getElementById("idLoad1").innerHTML = "<i class='fa fa-spinner'> Cargando Recetas ...</i>";
        const response = await fetch('/AReceta/Receta/AddFavoritos', {
            method: 'POST',
            body: dataString
        });
        if (response.ok) {
            const data = await response.json();
            hablarTexto(data.Mensaje);
            console.log(data.Mensaje);
        }

        document.getElementById("idLoad1").innerHTML = "Bienvenido : " + ydR1bNom;
    }


    
</script>


